---
import { getCollection } from "astro:content";
const locale = Astro.currentLocale;

const allPosts = await getCollection("blog");
const posts = allPosts.slice(0, 6);
---

{
  posts.length > 0 && (
    <section class="section section-posts">
      <div class="container">
        <div class="border-t pt-8">
          <div class="flex flex-wrap gap-4 justify-between items-center mb-10">
            <h2 class="h1">Derniers articles</h2>
            <a
              href={`/${locale}/blog`}
              class="btn btn-link text-inherit uppercase no-underline group p-0"
            >
              Tous les articles
              <i class="fa-solid fa-arrow-right group-hover:translate-x-1" />
            </a>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {posts.map((post) => (
              <a href={`/${locale}/blog/${post.id}`} class="border p-6 hover:underline">
                <p class="text-xs uppercase opacity-50 mb-2">
                  {post.data.pubDate.toLocaleDateString('fr-CA')}
                </p>
                <h3 class="font-bold mb-2">{post.data.title}</h3>
                <p class="text-sm opacity-70">{post.data.description}</p>
              </a>
            ))}
          </div>
        </div>
      </div>
    </section>
  )
}