---
import Layout from "../../../layouts/Base.astro";
import Hero from "../../../components/Hero.astro";
import { LOCALES } from "../../../i18n";

export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));

const locale = Astro.params.lang;
---

<Layout title="Articles — Mes Intérêts Sociaux">
  <Hero title="Articles" />

  <section class="mt-10">
    <div class="container flex flex-wrap justify-between items-center gap-4">
      <p class="font-semibold uppercase">Thématiques</p>
      <div class="flex flex-wrap items-center gap-4 justify-start">
        <a
          href={`/${locale}/blog`}
          class="btn btn-outline rounded-full py-1 px-4 h-auto hover:bg-black hover:text-white uppercase"
        >
          Tous
        </a>
        <a
          href={`/${locale}/blog`}
          class="btn btn-outline rounded-full py-1 px-4 h-auto hover:bg-black hover:text-white uppercase"
        >
          Santé
        </a>
        <a
          href={`/${locale}/blog`}
          class="btn btn-outline rounded-full py-1 px-4 h-auto hover:bg-black hover:text-white uppercase"
        >
          Environnement
        </a>
        <a
          href={`/${locale}/blog`}
          class="btn btn-outline rounded-full py-1 px-4 h-auto hover:bg-black hover:text-white uppercase"
        >
          Société
        </a>
        <a
          href={`/${locale}/blog`}
          class="btn btn-outline rounded-full py-1 px-4 h-auto hover:bg-black hover:text-white uppercase"
        >
          Technologie
        </a>
      </div>
    </div>
  </section>

  <section class="section mt-5!">
    <div class="container">
      <p class="text-lg py-10">Les articles arrivent bientôt. Restez à l'écoute!</p>
    </div>
  </section>
</Layout>