---
import Layout from "../../../layouts/Base.astro";
import { getCollection, getEntry } from "astro:content";
import { LOCALES } from "../../../i18n";
import { render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const paths = [];

  for (const lang of Object.keys(LOCALES)) {
    for (const post of posts) {
      paths.push({
        params: { lang, slug: post.id },
        props: { post },
      });
    }
  }
  return paths;
}

const locale = Astro.params.lang;
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
  <section class="mt-10">
    <div class="container">
      <div class="flex items-center justify-between flex-wrap gap-4">
        <a
          href={`/${locale}/blog`}
          class="btn btn-link text-inherit uppercase no-underline group p-0"
        >
          <i class="fa-solid fa-arrow-left group-hover:translate-x-1"></i> Retour
        </a>
        <p class="font-semibold text-3xl uppercase">Articles</p>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mb-10">
        <h1>{post.data.title}</h1>
        <p class="text-lg font-semibold">{post.data.description}</p>
      </div>
      <div class="flex flex-wrap gap-x-6 gap-y-3 items-center mb-5">
        <p>
          <b class="mr-2">Auteure</b>
          <a href={`/${locale}/authors`}>Annick Bissainthe</a>
        </p>
        <p>
          <b class="mr-2">Date</b>
          <span>{post.data.pubDate.toLocaleDateString('fr-CA')}</span>
        </p>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="max-w-3xl mx-auto prose prose-lg">
        <Content />
      </div>
    </div>
  </section>
</Layout>